.Menu a{
    border-radius: 2%;
    border-color: black;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:center;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.menu .icono{
    font-size: 40px;
}

.Menu {
    background-color: brown;
}